.black-wrapper {
	z-index: 1;
	margin-top: -20px;
	padding-top: 30px;
	border-radius: 32px 32px 0 0;
	background: radial-gradient(105.37% 135.36% at 98.89% 0.77%, #220D01 0%, #050200 35.66%);
	box-shadow: 0px -20px 60px 0px rgba(0, 0, 0, 0.40);

	@include desktop {
		margin-top: -50px;
		padding-top: 0;
		border-radius: 96px 96px 0 0;
	}
}
