.data-card {
	display: flex;
	flex-direction: column;
	padding: 16px;
	border-radius: 32px;
	border: 1px solid rgba($color-white, .05);
	background: rgba(#000, .20);
	backdrop-filter: blur(15px);

	@include desktop {
		padding: 24px;
	}

	&__title-box {
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-height: 58px;
		margin-bottom: 15px;
		padding-bottom: 16px;
		border-bottom: 1px dashed rgba($color-white, .15);
	}

	&__title {
		font-size: 20px;
		line-height: 23px;
		font-weight: 700;

		@include desktop {
			font-size: 24px;
			line-height: 28px;
		}
	}

	&__desktop-btn {
		display: none;

		@include desktop {
			display: inline-flex;
		}
	}

	&__mobile-btn {
		@include desktop {
			display: none;
		}
	}

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		transition: margin-bottom $transition-default, max-height $transition-default, opacity $transition-default, transform $transition-default;

		&:not(:last-child) {
			margin-bottom: 12px;

			@include desktop {
				margin-bottom: 16px;
			}
		}

		&--hide {
			opacity: 0;
			transform: scale(0) translateX(-10%);
			margin-bottom: 0;
			max-height: 0;
			overflow: hidden;
		}

		&--hidden {
			display: none;
		}
	}

	&__text-box {
	}

	&__time {
		display: block;
		font-size: 10px;
		line-height: 12px;
		color: rgba($color-white, .4);

		@include desktop {
			font-size: 12px;
			line-height: 14px;
		}
	}

	&__text {
		font-size: 18px;
		line-height: 21px;

		@include desktop {
			font-size: 16px;
			line-height: 18px;
		}
	}

	&__code {
		font-size: 14px;
		line-height: 16px;

		@include desktop {
			font-size: 16px;
			line-height: 18px;
		}
	}

	&__status {
		font-size: 16px;
		line-height: 18px;
		color: #7B7B7B;

		@include desktop {
			font-size: 20px;
			line-height: 23px;
		}

		&--green {
			color: #40FD48;
		}
	}

	&__name {
		margin-bottom: 4px;
		font-size: 18px;
		line-height: 21px;

		@include desktop {
			font-size: 20px;
			line-height: 23px;
		}
	}

	&__birthday {
		margin-bottom: 16px;
		font-size: 14px;
		line-height: 16px;
		color: rgba($color-white, .4);

		@include desktop {
			font-size: 16px;
			line-height: 18px;
		}
	}

	&__contacts {
		display: flex;
		align-items: center;
		margin-bottom: 16px;
		font-size: 16px;
		line-height: 18px;

		@include desktop {
			font-size: 18px;
			line-height: 21px;
		}
	}

	&__contacts-icon {
		width: 20px;
		height: 20px;
		margin-right: 12px;
	}

	&__info-box {
		margin-bottom: 12px;
		padding: 12px;
		border-radius: 12px;
		background: rgba(255, 116, 34, 0.05);

		@include desktop {
			margin-bottom: 16px;
		}
	}

	&__info-text-big {
		margin-bottom: 6px;
		font-size: 14px;
		line-height: 16px;

		@include desktop {
			font-size: 16px;
			line-height: 18px;
		}
	}

	&__info-text {
		margin-bottom: 2px;
		font-size: 10px;
		line-height: 12px;
		color: rgba($color-white, .6);

		@include desktop {
			font-size: 14px;
			line-height: 14px;
		}
	}

	&__info-text-small {
		font-size: 10px;
		line-height: 12px;
		color: rgba($color-white, .6);

		@include desktop {
			font-size: 12px;
			line-height: 14px;
		}
	}

	&__score-row {
		display: grid;
		grid-template: auto / repeat(2, 1fr);
		grid-column-gap: 16px;
	}

	&__score {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 12px;
		border-radius: 50px;
		background: rgba(255, 255, 255, 0.05);
		font-size: 12px;
		line-height: 14px;
		text-transform: uppercase;

		@include desktop {
			font-size: 14px;
			line-height: 16px;
		}
	}

	&__score-value {
		margin-right: 8px;
		font-size: 20px;
		line-height: 24px;
		font-weight: 700;
		color: $color-orange;

		@include desktop {
			font-size: 24px;
			line-height: 28px;
		}
	}

	&__button-box {
		margin-top: auto;
	}

	&__more-button {
		width: 100%;

		@include desktop {
			max-width: 135px;
		}

		&--hidden {
			display: none;
		}
	}
}
