.footer {
	padding-top: 24px;
	padding-bottom: 24px;
	background-color: #000;
	border-top: 1px solid rgba($color-white, .15);

	@include desktop {
		padding-top: 48px;
		padding-bottom: 48px;
	}

	&__container {
		display: flex;
		flex-direction: column-reverse;

		@include desktop {
			flex-direction: row;
			justify-content: space-between;
			align-items: flex-start;
		}
	}

	&__text-box {
		font-size: 12px;
		line-height: 14px;
		color: rgba($color-white, .4);
		text-align: center;

		@include desktop {
			max-width: 700px;
			margin-right: 30px;
			font-size: 14px;
			line-height: 16px;
			text-align: left;
		}
	}

	&__text {
		&:not(:last-child) {
			margin-bottom: 4px;

			@include desktop {
				margin-bottom: 14px;
			}
		}
	}

	&__button {
		width: 100%;
		margin-bottom: 16px;

		@include desktop {
			width: unset;
			margin-bottom: 0;
		}
	}
}
