.header {
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	width: 100%;
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: #171717;
	transition: transform .3s ease;

	@include desktop {
		position: absolute;
		padding-top: 16px;
		padding-bottom: 16px;
		background-color: $color-transparent;
	}

	&--black {
		background-color: #1A1A1A;
	}

	&--fixed {
		position: fixed;
		background-color: rgba(#171717, .9);
	}

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__logo-link {
		flex-shrink: 0;
		display: inline-block;
	}

	&__logo {
		display: block;
		width: 100%;
		max-width: 140px;

		@include desktop {
			max-width: 213px;
		}
	}

	&__nav {
		position: absolute;
		display: none;
		flex-direction: column;
		top: 100%;
		left: 0;
		width: 100%;
		height: calc(100vh - 58px);
		padding: 24px 24px 48px;
		background-color: #171717;
		transition: transform 0.3s ease-in-out, opacity 0.7s ease;
		opacity: 0;
		transform: perspective(600px) translateX(350px) rotateY(-45deg) scale(0.7);
		transform-origin: 100% 50%;
		overflow-y: auto;

		&--left {
			@include desktop {
				margin-left: 48px;
				margin-right: auto;
			}
		}

		.header--menu-animate & {
			display: flex;
		}

		.header--menu-show & {
			display: flex;
			opacity: 1;
			transform: perspective(600px) rotateY(0) scale(1);
		}

		@include desktop {
			position: static;
			display: block;
			width: unset;
			height: unset;
			padding: 8px 0 13px;
			background-color: $color-transparent;
			opacity: 1;
			transform: none;
			overflow: unset;
		}
	}

	&__nav-list {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		@include desktop {
			flex-grow: 0;
			flex-direction: row;
			justify-content: unset;
			align-items: unset;
			margin: 0 -12px;
		}

		.header__nav--left & {
			margin: 0 -16px;
		}

	}

	&__nav-elem {
		padding: 0 12px;

		.header__nav--left & {
			padding: 0 16px;
		}
	}

	&__nav-link {
		position: relative;
		display: block;
		margin-bottom: 50px;
		font-size: 24px;

		@include desktop {
			margin-bottom: 0;
			font-size: 18px;
		}

		&--active {
			&::before {
				position: absolute;
				bottom: -5px;
				left: 0;
				width: 83%;
				height: 1px;
				border-radius: 50%;
				background-color: $color-white;
				content: "";
			}

			&::after {
				position: absolute;
				bottom: -5px;
				right: 0;
				width: calc(17% - 7px);
				height: 1px;
				border-radius: 50%;
				background-color: $color-orange;
				content: "";
			}
		}
	}

	&__user-nav {
		padding: 6px 0;
		color: $color-orange;

		&--active {
			@include desktop {
				display: flex;
				align-items: center;
				padding: 6px 16px;
				background: rgba($color-orange, .15);
				border-radius: 100px;
			}
		}

		&--mobile {
			display: flex;
			align-items: center;
			background: rgba($color-orange, .15);
			border-radius: 100px;
			width: 100%;
			max-width: 340px;
			margin: 0 auto;
			padding: 16px;

			@include desktop {
				display: none;
			}
		}
	}

	&__lk-link {
		display: flex;
		align-items: center;
		font-size: 18px;
	}

	&__lk-link-text {
		display: none;

		@include desktop {
			display: block;
		}
	}

	&__user-icon {
		flex-shrink: 0;
		width: 24px;
		height: 24px;

		@include desktop {
			margin-left: 8px;
		}

		.header__user-nav--mobile & {
			margin-right: 8px;
		}
	}

	&__user-nav-box {
		display: none;

		.header__user-nav--mobile & {
			flex-grow: 1;
			display: flex;
			justify-content: space-between;
		}

		@include desktop {
			display: block;
			text-align: right;
		}
	}

	&__user-name {
		font-size: 16px;
		line-height: 18px;
		color: $color-white;
	}

	&__user-logout {
		display: block;
		margin-left: auto;
		margin-right: 8px;
		padding: 0;
		background-color: $color-transparent;
		border: none;
		font-size: 12px;
		line-height: 1;
		color: $color-orange;

		@include desktop {
			margin-right: 0;
		}
	}

	&__menu-btn {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 42px;
		height: 42px;
		padding: 0;
		background-color: $color-transparent;
		border: none;

		@include desktop {
			display: none;
		}
	}

	&__menu-btn-icon {
		width: 24px;
		height: 24px;
		color: $color-white;
		transition: opacity $transition-default;

		&--burger {
			.header--menu-show & {
				opacity: 0;
			}
		}

		&--close {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			opacity: 0;

			.header--menu-show & {
				opacity: 1;
			}
		}
	}
}
