.instant-card {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 10px 18px 24px;
	border-radius: 32px;
	border: 6px solid #251A15;
	box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.50), 0px -30px 30px 0px rgba(0, 0, 0, 0.30) inset;
	text-align: center;
	cursor: pointer;
	transition: box-shadow $transition-default;

	@for $i from 1 through 6 {
		&--bg#{$i} {
			background: url("../images/instant-card-bg#{$i}.png"), radial-gradient(100.00% 100.00% at 49.91% -0.00%, rgba(255, 116, 34, 0.10) 0%, rgba(0, 0, 0, 0.00) 100%);
		}
	}

	&::before,
	&::after {
		position: absolute;
		background-repeat: no-repeat;
		content: "";
	}

	&::before {
		top: 0;
		right: 0;
		width: 93px;
		height: 88px;
		background-image: url("../images/hops-leafs1.svg");
	}

	&::after {
		bottom: 0;
		left: 0;
		width: 59px;
		height: 63px;
		background-image: url("../images/hops-leafs2.svg");
	}

	&--disabled {
		border-color: #3C3C3C;
		background: rgba(0, 0, 0, 0.60);
		opacity: .5;
		cursor: default;
	}

	&--no-hover {
		cursor: default;
	}

	&:not(.instant-card--disabled):not(.instant-card--no-hover):hover {
		box-shadow: 0 0 30px 0 rgba(255, 116, 34, 0.30);

		.instant-card__img {
			filter: drop-shadow(0 0 35px rgba($color-orange, .8));
		}
	}

	&__img-box {
		position: relative;
		padding-top: 100%;
	}

	&__img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		max-width: 100%;
		max-height: 100%;
		filter: drop-shadow(0 0 35px rgba($color-orange, .5));
		transition: filter $transition-default;

		.instant-card--disabled & {
			filter: grayscale(1);
		}
	}

	&__text {
		margin-top: auto;
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 56px;
		font-size: 24px;
		line-height: 28px;
	}

	&__counter {
		position: absolute;
		top: -4px;
		right: -5px;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		min-width: 24px;
		padding: 6px;
		background-color: #515151;
		border-radius: 50px;
		font-size: 12px;
		line-height: 1;
	}
}
