.modal {
	position: fixed;
	z-index: 10000;
	overflow-x: hidden;
	top: 0;
	left: 0;
	display: none;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	padding: 32px 16px;
	transition: background-color 0.2s;
	-webkit-overflow-scrolling: touch;

	&--show { // .modal--shown
		display: flex;
	}

	&--backdrop { // .modal--backdrop
		background-color: rgba(#D9AB90, .2);
	}

	&__body { // .modal__body
		position: relative;
		z-index: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: calc(100% - 32px);
		min-height: 360px;
		margin: auto;
		background-color: #000;
		border-radius: 32px;
		transition: transform 0.3s ease-in-out, opacity 0.7s ease;
		opacity: 0;
		transform: perspective(600px) translateY(350px) rotateX(-45deg) scale(0.7);
		transform-origin: 50% 0;
		overflow: hidden;

		.modal--shown & {
			opacity: 1;
			transform: perspective(600px) rotateX(0) scale(1);
		}

		.modal--login &,
		.modal--code & {
			max-width: 1000px;
		}

		.modal--success & {
			max-width: 1000px;
			height: 100vh;
			max-height: 668px;
		}

		.modal--slider & {
			max-width: 909px;
			height: 100vh;
			max-height: 909px;
		}

		.modal--register &,
		.modal--user & {
			max-width: 654px;
		}

		.modal--feedback & {
			max-width: 563px;
		}

		.modal--sticker & {
			max-width: 909px;
		}
	}

	&__close {
		position: absolute;
		top: 0;
		right: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 30px;
		height: 30px;
		margin-top: 4px;
		padding: 0;
		border-width: 0;
		background-color: $color-transparent;
		cursor: pointer;
		color: #464646;
		transition: color $transition-default;

		&:hover {
			color: $color-orange;
		}

		&:focus {
			outline-width: 0;
		}
	}

	&__close-icon {
		width: 24px;
		height: 24px;
	}

	&__content {
		&--image-left {
			display: grid;
			grid-template: auto / repeat(2, 1fr);
		}

		.modal--success & {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
		}

		.modal--sticker & {
			padding: 48px;
		}
	}

	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__content-box {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 48px;
	}

	&__title-box {
		position: relative;
		padding-right: 45px;
		display: flex;
		justify-content: space-between;

		.modal--register &,
		.modal--user &,
		.modal--feedback & {
			margin-bottom: 24px;
		}
	}

	&__title {
		font-family: $font-secondary;
		font-size: 32px;
		line-height: 38px;
		text-transform: uppercase;

		.modal--success & {
			margin-bottom: 16px;
		}

		.modal--sticker & {
			font-size: 48px;
			line-height: 58px;
		}
	}

	&__subtitle {
		margin-top: 8px;
		font-size: 18px;
		line-height: 21px;
		color: rgba($color-white, .5);

		.modal--success & {
			margin-bottom: 48px;
			font-size: 16px;
			line-height: 18px;
			color: $color-white;
		}

		.modal--sticker & {
			margin-bottom: 8px;
			font-size: 24px;
			line-height: 28px;
			color: $color-white;
		}
	}

	&__checkbox {
		.modal--register & {
			margin-bottom: 24px;
		}

		.modal--feedback & {
			margin-top: 24px;
			margin-bottom: 24px;
		}
	}

	&__button-back {
		display: inline-flex;
		align-items: center;
		margin: 0 auto 16px;
		padding: 0;
		border: none;
		background-color: $color-transparent;
		color: $color-white;
		font-size: 20px;
		line-height: 23px;
	}

	&__button-back-icon {
		width: 24px;
		height: 24px;
		margin-right: 12px;
	}

	&__hint {
		font-size: 18px;
		line-height: 21px;
		color: rgba($color-white, .5);

		&--yellow {
			color: #EFDC4E;
		}

		.modal--login & {
			margin-top: 14px;
			text-align: center;
		}

		.modal--code & {
			margin-top: 14px;
			font-size: 16px;
			line-height: 18px;
			letter-spacing: .02em;
		}
	}

	&__hint-link {
		color: $color-white;
		transition: color $transition-default;

		&:hover {
			color: $color-orange;
		}
	}

	&__success-box {
		text-align: center;
	}

	&__success-icon {
		width: 64px;
		height: 64px;
		margin-bottom: 24px;

		.modal--success & {
			margin-bottom: 48px;
		}
	}

	&__success-text {
		font-size: 20px;
		line-height: 23px;
	}

	&__wrap {
		.modal--sticker & {
			display: flex;
			flex-direction: column;
		}
	}

	&__btn {
		.modal--code & {
			margin-top: 60px;
		}

		.modal--success & {
			width: 100%;
			max-width: 200px;
		}

		.modal--sticker & {
			width: 100%;
		}
	}

	&__form-panel {
		margin-bottom: 24px;
		padding: 24px;
		border-radius: 24px;
		background-color: rgba($color-white, .05);

		&--orange {
			background-color: rgba($color-orange, .05);
			border: 1px solid rgba($color-orange, .3);
		}
	}

	&__sticker-box {
		display: flex;
		margin-bottom: 24px;
		flex-grow: 1;
	}

	&__sticker {
		flex-shrink: 0;
		width: 171px;
		margin-right: 24px;
	}

	&__info-box {
		display: flex;
		align-items: center;
		width: 100%;
		margin-top: auto;
		padding: 12px 24px;
		border-radius: 50px;
		background-color: rgba($color-white, .05);
	}

	&__info-box-icon {
		flex-shrink: 0;
		width: 24px;
		height: 24px;
		margin-right: 12px;
	}

	&__text-block {
		margin-bottom: 48px;
		font-size: 18px;
		line-height: 21px;
	}

	&__slider {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		max-width: 760px;
		.swiper-slide {
			border-radius: 16px;
			transition: transform $transition-default, filter $transition-default;

		}
		.swiper-slide-visible {
			filter: blur(10px);
		}

		.swiper-slide-next{
			filter: blur(4px);
			img {
				transform: translateX(40px);
			}
		}

		.swiper-slide-prev {
			filter: blur(4px);

			img {
				transform: translateX(-40px);
			}
		}

		.swiper-slide-active {
			transform: none;
			filter: none;
		}
	}

	&__progress {
		position: absolute;
		z-index: 10;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		height: 100%;
		max-width: 60%;
		max-height: 60%;
		animation: rotate 1s linear infinite;
		filter: blur(7px);
		pointer-events: none;
		user-select: none;
	}

	&__slider-img {
		display: block;
		width: 100%;
		user-select: none;
		border-radius: 16px;
		transition: transform $transition-default;
	}
}

@keyframes rotate {
	0% {
		transform: translate(-50%, -50%) rotate(0);
	}
	50% {
		transform: translate(-50%, -50%) rotate(180deg);
	}
	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}
