.section-steps {
	max-width: 1060px;
	padding-bottom: 18px;

	@include desktop {
		margin-top: -156px;
	}

	&__grid {
		display: grid;
		margin-bottom: 16px;

		@include desktop {
			grid-template: auto / minmax(0, 1fr) 40px minmax(0, 1.1fr) 40px minmax(0, 1fr);
			grid-column-gap: 24px;
			margin-bottom: 24px;
		}
	}

	&__elem {
		align-self: end;
	}

	&__arrow {
		display: none;
		width: 40px;
		height: 25px;
		margin: auto 0 10px;

		@include desktop {
			display: block;
		}
	}

	&__button-box {
		text-align: center;
	}

	&__button {
		width: 100%;

		@include desktop {
			width: unset;
		}
	}
}
