.section-dashboard {
	padding-top: 40px;
	padding-bottom: 40px;

	@include desktop {
		padding-top: 54px;
		padding-bottom: 64px;
	}

	&__title {
		max-width: 220px;
		margin: 0 auto 32px;
		font-family: $font-secondary;
		font-size: 24px;
		line-height: 29px;
		text-align: center;

		@include desktop {
			max-width: unset;
			margin-bottom: 48px;
			font-size: 48px;
			line-height: 59px;
		}
	}

	&__grid {
		display: grid;
		grid-template: auto / minmax(0, 354px);
		grid-gap: 32px 24px;
		justify-content: center;

		@include desktop {
			grid-template: auto / repeat(3, 1fr);
		}
	}

	&__col {
	}

	&__col-title {
		margin-bottom: 8px;
		font-family: $font-secondary;
		font-size: 32px;
		line-height: 38px;
		text-align: center;

		@include desktop {
			margin-bottom: 8px;
			font-size: 40px;
			line-height: 48px;
		}
	}

	&__col-text {
		margin-bottom: 8px;
		font-size: 16px;
		line-height: 18px;
		text-align: center;

		@include desktop {
			font-size: 18px;
			line-height: 21px;
		}
	}

	&__players {
		margin-bottom: 12px;
		font-size: 16px;
		line-height: 18px;
		text-align: center;
		color: rgba($color-white, .7);

		@include desktop {
			margin-bottom: 28px;
			font-size: 18px;
			line-height: 21px;
		}
	}

	&__players-counter {
		color: rgba($color-white, .9);
	}

	&__col-grid {
		display: grid;
		grid-template: auto / repeat(2, 1fr);
		grid-gap: 12px;
		margin-bottom: 27px;
	}

	&__col-status {
		margin-top: auto;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 13px;
		border-radius: 50px;
		font-size: 16px;
		line-height: 18px;
		font-weight: 700;
		border: 1px solid rgba($color-white, .3);
		background-color: rgba($color-white, .05);

		&--green {
			padding: 12px 24px;
			border: 1px solid rgba(64, 253, 72, 0.30);
			background: rgba(64, 253, 72, 0.05);
			color: #40FD48;
		}

		@include desktop {
			font-size: 18px;
			line-height: 21px;
		}
	}

	&__col-status-icon {
		width: 24px;
		height: 24px;
		margin-right: 8px;
	}
}
