.section-login {
	@include hero-bg;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;

	&__logo {
		display: inline-block;
		margin-bottom: 38px;
	}

	&__text-box {
		margin-bottom: 92px;
	}

	&__title {
		margin-bottom: 10px;
		font-family: $font-secondary;
		font-size: 80px;
		text-transform: uppercase;
	}

	&__text {
		font-size: 32px;
	}

	&__form {
	}

	&__form-text {
		margin-bottom: 10px;
		font-size: 24px;
	}

	&__form-grid {
		display: grid;
		grid-template: auto / 1fr 1fr 1.33fr;
		grid-column-gap: 24px;
		width: 100%;
		max-width: 448px;
		margin: 0 auto 98px;
	}

	&__form-input {
		min-width: 0;
		padding: 22px;
		background-color: rgba($color-white, .05);
		border: 1px solid rgba($color-white, .1);
		border-radius: 12px;
		font-size: 48px;
		line-height: 1;
		text-align: center;
		color: $color-white;
		transition: border-color $transition-default;

		&::placeholder {
			opacity: 1;
			color: rgba($color-white, .5)
		}

		&:hover {
			border-color: rgba($color-orange, .3);
		}

		&:focus {
			border-color: $color-orange;
		}

		&:not(:last-child) {
			padding-right: 14px;
			letter-spacing: .2em;
		}
	}

	&__form-button {
		width: 100%;
		max-width: 398px;
	}

	&__age-alert {
		display: flex;
		align-items: center;
		width: 100%;
		max-width: 383px;
		margin: 0 auto 24px;
		padding: 4px 8px;
		border-radius: 8px;
		background-color: rgba($color-white, .1);
	}
	&__age-alert-icon {
		flex-shrink: 0;
		width: 32px;
		height: 32px;
		margin-right: 12px;
	}
	&__age-alert-text {
		font-size: 18px;
		line-height: 20px;
		text-align: left;
	}
}
