.section-winners {
	@include gradient-bg;
	padding-top: 82px;
	padding-bottom: 82px;

	@include desktop {
		padding-top: 107px;
		padding-bottom: 100px;
	}

	&__title {
		margin-bottom: 24px;
		font-family: $font-secondary;
		font-size: 32px;
		line-height: 38px;
		text-align: center;

		@include desktop {
			margin-bottom: 48px;
			font-size: 48px;
			line-height: 58px;
		}
	}

	&__row-box {
		margin-bottom: 24px;

		@include desktop {
			margin-bottom: 48px;
		}
	}

	&__row {
		display: grid;
		grid-template: auto / repeat(2, 1fr);
		padding: 16px;
		background: rgba(255, 255, 255, 0.05);
		border-radius: 24px;
		transform-origin: left center;
		transition: margin-bottom $transition-default, max-height $transition-default, opacity $transition-default, transform $transition-default;

		@include desktop {
			grid-template: auto / auto repeat(4, 1fr);
			grid-column-gap: 32px;
			padding: 17px 32px;
			border-radius: 50px;
		}

		&:not(:last-child) {
			margin-bottom: 13px;

			@include desktop {
				margin-bottom: 8px;
			}
		}

		&--hide {
			opacity: 0;
			transform: scale(0) translateX(-10%);
			margin-bottom: 0;
			max-height: 0;
			overflow: hidden;
		}

		&--hidden {
			display: none;
		}
	}

	&__text {
		font-size: 14px;
		line-height: 16px;

		@include desktop {
			font-size: 16px;
		}

		&:nth-child(2n-1) {
			@include mobile-tablet {
				text-align: right;
			}
		}

		&:nth-child(2),
		&:nth-child(3) {
			@include mobile-tablet {
				margin-bottom: 12px;
				padding-bottom: 12px;
				border-bottom: 1px solid rgba($color-white, .05);
			}
		}

		&:nth-child(n+3) {
			@include desktop {
				text-align: center;
			}
		}
	}

	&__time {
		font-size: 10px;
		line-height: 12px;
		color: rgba($color-white, .5);

		@include desktop {
			font-size: 16px;
			line-height: 1;
		}

		&--mobile {
			display: block;

			@include desktop {
				display: none;
			}
		}

		&--desktop {
			display: none;

			@include desktop {
				display: block;
			}
		}
	}

	&__button-box {
		text-align: center;
	}

	&__button {
		width: 100%;

		@include desktop {
			width: unset;
		}

		&--hidden {
			display: none;
		}
	}
}
