.text-orange {
	color: $color-orange !important;
}

.text-white {
	color: $color-white !important;
}

.mb24 {
	margin-bottom: 24px !important;
}

.show-desktop {
	display: none !important;

	@include desktop {
		display: block !important;
	}
}

.hide-desktop {
	@include desktop {
		display: none !important;
	}
}
