mixin footer()
	footer.footer
		.footer__container.container
			.footer__text-box
				p.footer__text Общий срок проведения Акции с 20 июля по 12 ноября 2023 года, включая период выдачи призов победителям.
					|
					|
					br.show-desktop
					|Регистрация кодов осуществляется на promo.orenbeer.ru
				p.footer__text Период покупки и регистрации кодов (далее «период регистрации кодов»): 20.07.2023 - 12.10.2023 года включительно.
				p.footer__text *Будет предоставлен сертификат на приобретение приза. Побрости в Полных правилах акции.
				p.footer__text Призы могут отличаться по внешнему виду от их изображения на сайте и рекламных материалах.
			a.button.button--gray.footer__button(href="#") Полные правила акции
				+svg("button-arrow")(class="button__icon")
