mixin header()
	header.header(class=isHeaderBlack?"header--black":"")
		.header__container.container
			a.header__logo-link(href="./index.html")
				img.header__logo(src="images/logo.svg", alt)
			nav.header__nav(class=isHeaderMenuLeft?"header__nav--left":"")
				ul.header__nav-list
					li.header__nav-elem
						a.header__nav-link.header__nav-link--active(href="#") Правила и призы
					li.header__nav-elem
						a.header__nav-link(href="#") Победители
					li.header__nav-elem
						a.header__nav-link(href="#") Где купить
					li.header__nav-elem
						a.header__nav-link(href="#") Обратная связь
			.header__user-nav(class=isUserLoggedIn?"header__user-nav--active":"")
				if isUserLoggedIn
					.header__user-nav-box
						p.header__user-name Светлана Голубева
						button.header__user-logout Выйти
					+svg("user-icon")(class="header__user-icon")
				else
					a.header__lk-link(href="#") Личный кабинет
						+svg("user-icon")(class="header__user-icon")
