// Modal Success
#success-modal.modal.modal--success
	.modal__body
		.modal__content
			+svg("success")(class="modal__success-icon")
			h2.modal__title Ваше сообщение успешно отправлено!
			p.modal__subtitle Наши менеджеры свяжутся с вами в ближайшее время
			button.button.button--orange.button--orange-md.modal__btn.js-modal-close Отлично!
