extends pug/base

prepend vars
	//-

append vars
	- title = "Список страниц"
	- showHeader = false
	- showFooter = false

block content
	section.section-login
		ul(style="align-self:center;text-align:left;")
			li
				a(href="login.html", target="_blank") - Вход на сайт
			li
				a(href="login-age.html", target="_blank") - Вход на сайт (с предупреждением)
			li
				a(href="rules-and-prizes.html", target="_blank") - Правила и призы
			li
				a(href="lk.html", target="_blank") - Личный кабинет
			li
				a(href="winners.html", target="_blank") - Победители
			li
				a(href="where-to-buy.html", target="_blank") - Где купить
			li
				a(href="agreement.html", target="_blank") - Политика
			li
				a(href="modals.html", target="_blank") - Модальные окна
