extends pug/base

prepend vars
	//-

append vars
	- title = "Модальные окна"
	- showHeader = false
	- showFooter = false

block content
	section.section-login
		div(style="display:flex;flex-direction:column;align-self:center;width:100%;max-width:300px;")
			button.button.button--orange.button--orange-sm(data-modal="login1") Вход в личный кабинет (Экран 1)
			br
			button.button.button--orange.button--orange-sm(data-modal="login2") Вход в личный кабинет (Экран 2)
			br
			button.button.button--orange.button--orange-sm(data-modal="login3") Вход в личный кабинет (Экран 3)
			br
			button.button.button--orange.button--orange-sm(data-modal="code") Зарегистрировать код (Экран 1)
			br
			button.button.button--orange.button--orange-sm(data-modal="register") Зарегистрировать код (Экран 2)
			br
			button.button.button--orange.button--orange-sm(data-modal="user") Мои данные
			br
			button.button.button--orange.button--orange-sm(data-modal="feedback") Обратная связь
			br
			button.button.button--orange.button--orange-sm(data-modal="success-modal") Успешно отправлено
			br
			button.button.button--orange.button--orange-sm(data-modal="score-sticker") Баллы и стикер
			br
			button.button.button--orange.button--orange-sm(data-modal="sticker") Стикер
			br
			button.button.button--orange.button--orange-sm(data-modal="sticker-beer") Стикер Пиво
			br
			button.button.button--orange.button--orange-sm(data-modal="slider") Слайдер
	// Modals
	include pug/common-blocks/modals/modal-login1
	include pug/common-blocks/modals/modal-login2
	include pug/common-blocks/modals/modal-login3
	include pug/common-blocks/modals/modal-code
	include pug/common-blocks/modals/modal-register
	include pug/common-blocks/modals/modal-user
	include pug/common-blocks/modals/modal-feedback
	include pug/common-blocks/modals/modal-success
	include pug/common-blocks/modals/modal-score-sticker
	include pug/common-blocks/modals/modal-sticker
	include pug/common-blocks/modals/modal-sticker-beer
	include pug/common-blocks/modals/modal-slider
